/* 
Background : Bagian belakang halaman
Property : 
background-color, mengatur warna bg
background-image, mengatur gambar yang digunakan bg
background-position, mengatur posisi bg
background-repeat, mengatur jenis pengulangan bg

shorthand : background: color url() position repeat;
*/