h1{
    color: tomato;

    text-transform: uppercase;
}

p{
    text-align: justify;

    text-indent: 50px;

    text-decoration: line-through;

    word-spacing: 10px;
}

a{
    letter-spacing: 10px;
    text-decoration: none;
}