div{
    width: 600px;
    margin: 10px auto;
    /* megnatur ukuran box secara otomatis */
    box-sizing: border-box;
}

.satu{
    background-color: blueviolet;
    padding: 10px;
    border: 15px solid red;
}

.dua{
    background-color: pink;
    padding: 30px;
    border: 10px dashed blue;
}